.simple-header-image{
  position: relative;
}
.simple-header-image .shi-header{
  background-size: cover;
  width:100%;
  height:100vh;
}
.simple-header-image .shi-title{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size:50px;
  color:white;
}
